@charset 'UTF-8';
//==============================================
//  Color
//==============================================

// テキストカラー
$text-primary-color: #333;

// サブ
$text-secondary-color: #fff;

// サブ見出しカラー
$text-en-color: #052666;

// 下層ページ見出し
$heading-secondary-color: #391e88;
