@charset 'UTF-8';
//==============================================
//  Comp
//==============================================
// デザインカンプのサイズ
$sp-comp-width: 375px;
$tab-comp-width: 768px;
$pc-comp-width: 1440px;
